# AG2 code owners
# About code owners https://docs.github.com/ru/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Framework
/ag2/ @Lancetnik
/test/ @Lancetnik

# A2A, A2UI, AG-UI
/ag2/a2a/ @vvlrff
/test/a2a/ @vvlrff
/ag2/a2ui/ @vvlrff
/test/a2ui/ @vvlrff
/ag2/ag_ui/ @Lancetnik
/test/ag_ui/ @Lancetnik

# Provider configs
/ag2/config/ @marklysze
/test/config/ @marklysze

# Observability
/website/docs/user-guide/a2a/ @Lancetnik
/website/docs/user-guide/ag-ui/ @Lancetnik
/website/docs/user-guide/observability/ @priyansh4320
